#order {
    margin-bottom: 20px;
}
#order .image-wrap {
    max-width: 80px;
}
#order .image-wrap img {
    width: 100%;
}
.icon-bin:before {
    content: "\e9ac";
    cursor: pointer;
}
#order input[name="items[price][]"]{
    border: none;
}
#order input[name="items[price][]"] {
    border: none;
    width: 100%;
    margin: 0;
    text-align: center;
}
#order input[name="items[quan][]"] {
    width: 35px;
    text-align: center;
    margin-bottom: 0;
}
#order tr th{
    text-align: center;
}
#order tr td,
#order tr th{
    padding: 3px;
}
#order table{
    padding: 0 10px;
    width: 100%;
}
#order .order-counter button{
    background: #EEEEEE;
}
#order .order-counter button {
    background: #c18e31;
    color: white;
    border: none;
    height: 28px;
    width: 28px;
    font-size: 23px;
    position: relative;
    top: 4px;
}
#order .item-price{
    font-size: 20px;
}
#order td[colspan] {
    text-align: right;
}
#order .order-counter {
    text-align: center;
}
#order .item-title{
    font-size: 20px;
    color: #72b70f;
}
#order span.icon-bin {
    font-size: 20px;
    color: #c18e31;
}
#order span.summ{
    text-align: center;
    font-size: 20px;
}
#order .item-price-td {
    text-align: center;
}
#order td.td-summ{
    white-space: nowrap;
    text-align: center;
}
#order #order-total-summ{
    font-size: 23px;
}