html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}


a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
div[data-key] > div{
    padding: 5px;
}
#catalog .image img{
    width: 100%;
}
#catalog .image{
    width: 160px;
}
#catalog .list-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
#catalog div[data-key]{
    background: white;
    width: 275px;
    margin-bottom: 10px;
    font-family: SANS-SERIF, serif;
    position: relative;
}
#catalog div[data-key] .info p{
    margin-bottom: 0;
}
#catalog div[data-key] .info p a {
    font-size: 20px;
    color: black;
    font-weight: 800;
    display: block;
    text-align: center;
    font-stretch: condensed;
}
#catalog div[data-key]:hover{
    box-shadow: lightgreen 0px 0px 8px 3px;
}
#catalog div[data-key] a.wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#catalog div[data-key] .info h3 {
    text-align: center;
    font-size: 20px;
    color: #b1b1b1;
    /* text-transform: uppercase; */
    font-weight: 800;
    font-stretch: condensed;
    margin-bottom: 0;
}
#catalog div[data-key] .complects,
#catalog div[data-key] .cars
{
    font-size: 11px;
    line-height: 13px;
    width: 100%;
    padding: 5px;
    border: 1px solid #d5e2f5;
    margin-top: 5px;
}
#catalog div[data-key] .info button{
    display: block;
    width: 100%;
    background: #72b70f;
    color: white;
    font-size: initial;
}
#catalog .summary {
    display: none;
}
#catalog .top h3 {
    margin-bottom: 0;
}
#catalog .middle .left{
    min-width: 100px;
}
#catalog .top p {
    margin-bottom: 0;
}
.left {
    float: left;
    position: relative;
}
.right {
    float: right;
}
#catalog p.item_value {
    margin-bottom: 0;
}
div[data-key] .bottom > .left{
    width: 60%;
}
div[data-key] .price {
    font-weight: 800;
    color: #b1b1b1;
    text-align: center;
}
div[data-key] .price span{
    font-size: 27px;
}